<script id="footerView.ejs" type="text/template">
<%
  var n,v,db;
  if (name) {
    n = name || "";
    v = version || "";
  }
%>
<div class="footer-left">
</div>

<div class="footer-center">
  <p>帮助 <i class="fa fa-keyboard-o"></i></p>
</div>

<div class="footer-right">
  <p><% if(n) { %><a><%=n%> <%=v%> <% } %></a></p>
</div>
</script>
