<script id="foxxMountView.ejs" type="text/template">
<div id="install-foxx" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="avocadoHeader">安装服务</a>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <th class="collectionTh">名字:</th>
        <th class="collectionTh"><strong><%=attributes.name %></strong></th>
      </tr>
      <tr>
        <th class="collectionTh">&nbsp;</th>
        <th class="collectionTh">&nbsp;</th>
      </tr>
      <tr>
        <th class="collectionTh">挂载:</th>
        <th class="collectionTh">
          <input type="text" id="mount-point" name="mountpoint" value="/<%=attributes.name%>" placeholder="路径" />
        </th>
        <th><a class="modalTooltips" title="可以到达应用程序的路径."><i class="avocadoicon icon_avocadodb_info"></i></a></th>
      </tr>
      <tr>
        <th class="collectionTh">版本:</th>
        <th class="collectionTh">
          <%=attributes.version %>
        <th>
      </tr>
      <tr>
        <th class="collectionTh">系统:</th>
        <th class="collectionTh">
          <%=attributes.isSystem ? "Yes" : "No" %>
        <th>
      </tr>
    </table>
  </div>
  <div id="colFooter" class="modal-footer">
    <button class="button-success pull-right installFoxx">安装</button>
    <button id="cancel" class="button-danger pull-right">取消</button>
  </div>
</div>
</script>
