<script id="graphManagementView.ejs" type="text/template">
  <div class="headerBar">
    <div class="search-field">
      <input type="text" value="<%=searchString%>" id="graphManagementSearchInput" class="search-input" placeholder="搜索..."/>
      <i id="graphManagementSearchSubmit" class="fa fa-search"></i>
      <!-- <img id="graphManagementSearchSubmit" class="search-submit-icon"> -->
    </div>
     <div class="headerButtonBar">
        <ul class="headerButtonList">
          <li class="enabled">
            <a id="graphManagementToggle" class="headerButton">
              <span class="icon_avocadodb_settings2" title="设置"></span>
            </a>
          </li>
        </ul>
      </div>
  </div>


  <div id="graphManagementDropdown2" class="headerDropdown">

    <div id="graphManagementDropdown" class="dropdownInner">
      <ul>
        <li class="nav-header">排序</li>
        <li><a>
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="graphSortDesc">
            <i class="fa"></i>
            降序
          </label>
        </a></li>
      </ul>
    </div>

  </div>


  <div class="contentDiv" id="avocadoCollectionsContainer">
    <div id="graphManagementThumbnailsIn" class="tileList pure-u">
      <div class="tile pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-6">
        <div class="fullBorderBox">
          <a href="#" id="createGraph" class="add">
            <span id="newGraph" class="pull-left add-Icon"><i class="fa fa-plus-circle"></i></span>
            添加图形数据库
          </a>
        </div>
      </div>


      <% graphs.forEach(function(graph) {
        var graphName = graph.get("_key");
        var isSmart = graph.get("isSmart");
      %>

      <div class="tile tile-graph pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-6" id="<%=graphName %>_tile">
        <div class="paddingBox">
          <div class="borderBox"></div>
          <div class="iconSet">
            <span class="icon_avocadodb_settings2 editGraph" id="<%=graphName %>_settings" alt="Edit graph" title="修改图形数据库"></span>
          </div>
          <span class="icon_avocadodb_edge5 tile-icon"></span>
          <span class="icon_avocadodb_edge5 icon_avocadodb_edge5-2 tile-icon"></span>
          <div class="tileBadge">
            <% if (isSmart === true) { %>
              <span><div class="corneredBadge inProgress">自动</div></span>
            <% } %>
          </div>
          <h5 class="collectionName"><%=graphName %></h5>
        </div>
      </div>

      <%});%>
     </div>
  </div>

</script>
