<script id="loadingTableView.ejs" type="text/template">
<thead>
  <tr role="row">
    <th class="sorting_disabled docsFirstCol">内容</th>
    <th class="sorting_disabled docsSecCol">_key</th>
    <th class="sorting_disabled docsThirdCol">
      <a id="addDocumentButton" class="pull-right addButton"><span class="avocadoicon icon_avocadodb_roundplus" title="新建数据库"></span></a>
    </th>
  </tr>
</thead>
<tbody>
  <tr class="odd">
    <td valign="top" class="dataTables_empty">载入中...</td>
  </tr>
</tbody>
</script>
