<script id="supportView.ejs" type="text/template">

  <div class="supportView">
    <ul class="subMenuEntries subViewNavbar">
      <li id="documentation-support" class="subMenuEntry active"><a>文档</a></li>
      <li id="community-support" class="subMenuEntry"><a>社区</a></li>
      <li id="swagger-support" class="subMenuEntry "><a>Rest API</a></li>
    </ul>

    <div class="innerContent" id="supportContent">

      <div id="community" style="display: none">
        <div class="pure-g" style="width: 100%;">

        社区也没搭建呢

        </div>

      </div>

      <div id="swagger" style="display: none; height: 100%;">
      </div>

      <div id="documentation">

        <div class="pure-g" style="width: 100%;">
          <style>
            .ssaa{
              display: block;
              height: 80vh;
            }
          </style>
          <iframe class="ssaa" src="http://freeidea.win/wen/nosql/arngodb-aql.html"></iframe>

        </div>
      </div>
     </div>

   </div>

</script>
